body{
    background-color: #131313;
    background-image: "shinji.png";

}

div{
  padding: 50px;
}

p{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
}

footer{
    text-align: left;
    position:absolute;
    bottom:0;
}

main{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;

}
a {
    color: #CD546C;
    font-family: 'Roboto Mono', monospace;
  }

img{ 
    position:fixed; 
    bottom:0; 
    right:0;
    width: 300px;
    filter: brightness(30%);
}
