body{
    background-color: #131313;

}


.navbutton{
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 50px;
    padding: 10px
}

.navbutton:hover{
    background-color: #CD546C;
    border-radius: 10px;

}


a {
    color: #CD546C;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 110%;
  }


nav{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}


.navactivated{
    color: #CD546C;
    font-family: 'Roboto Mono', monospace;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;

}
img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50px;
}


h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding-top: 50px;
        font-size: 240%;
    
}

.subtitle{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 110%;
}


footer{
    text-align: left;
    position:absolute;
    bottom:0;
}


.games{
    padding-top: 100px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}